services:
  qdrant:
    image: qdrant/qdrant
    ports:
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    cpus: '4.0'
    mem_limit: 2048M

  app:
    cpus: '1.0'
    mem_limit: 1024M
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - QDRANT_HOST=${QDRANT_HOST}
      - GOOGLE_APPLICATION_CREDENTIALS=/tmp/adc.json
      - VERTEX_PROJECT=${VERTEX_PROJECT}
      - VERTEX_LOCATION=${VERTEX_LOCATION}
    volumes:
      - $HOME/.config/gcloud/application_default_credentials.json:/tmp/adc.json:ro
    depends_on:
      - qdrant
    ports:
      - "8080:8080"

volumes:
  qdrant_data: